[submodule "src/external_dependencies/fanuc_description"]
	path = src/external_dependencies/fanuc_description
	url = https://github.com/FANUC-CORPORATION/fanuc_description.git
[submodule "src/external_dependencies/ros2_controllers"]
	path = src/external_dependencies/ros2_controllers
	url = git@github.com:ros-controls/ros2_controllers.git
	branch = humble
[submodule "src/external_dependencies/fanuc_driver/fanuc_libs/dependencies/readerwriterqueue"]
	path = src/external_dependencies/fanuc_driver/fanuc_libs/dependencies/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
[submodule "src/external_dependencies/fanuc_driver/fanuc_libs/dependencies/sockpp"]
	path = src/external_dependencies/fanuc_driver/fanuc_libs/dependencies/sockpp
	url = https://github.com/fpagliughi/sockpp.git
[submodule "src/external_dependencies/fanuc_driver/fanuc_libs/dependencies/yaml-cpp"]
	path = src/external_dependencies/fanuc_driver/fanuc_libs/dependencies/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "src/external_dependencies/fanuc_driver/fanuc_libs/dependencies/reflect-cpp"]
	path = src/external_dependencies/fanuc_driver/fanuc_libs/dependencies/reflect-cpp
	url = https://github.com/getml/reflect-cpp.git
